**/target/
*/target/
*.iml
.idea/
dependency-reduced-pom.xml

# Dependencies
/libs

# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# we use maven!
/build.xml

# maven
/target

# gradle
/out

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

/world

# Mac filesystem dust
.DS_Store

# intellij
*.ipr
*.iws